/* single-item.css */

.single-item {
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    column-gap: 1rem;
    align-items: center;
    padding: 0.75rem;
    border-radius: 0.25rem;
    transition: transform 0.2s ease;
}

.single-item:hover {
    transform: scale(1.02);
}

.single-item p {
    text-transform: capitalize;
    font-weight: 500;
}

.single-item input[type="checkbox"] {
    cursor: pointer;
    width: 1rem;
    height: 1rem;
}

.single-item .btn {
    cursor: pointer;
    color: #fff;
    border: transparent;
    border-radius: 0.25rem;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    transition: background 0.3s ease;
}

.single-item .edit-btn {
    background: #cc99ff;
}
.single-item .edit-btn:hover {
    background: #a366ff;
}

.single-item .remove-btn {
    background: #ff9999;
}
.single-item .remove-btn:hover {
    background: #e06666;
}
